# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories to ignore
build/
macbuild/
testbuild/
build*
# Swap files because of vim
*.swp
